*, *::before, *::after{
    box-sizing: border-box;
}



@font-face {
    font-family: 'Host Grotesk Light';
    src: url('fonts/HostGrotesk-Light.ttf');
    font-weight: 300;
}
:root {
  --bg-main: rgb(255, 252, 251);
  --text-main: #2b2927;     
  --accent-color: #8c5a3c;     

  --font-body: 'Host Grotesk Light', sans-serif;

  --container-width: 1000px;
}
header, body{
    width: 100%;
    max-width: 100%;
    overflow-x: clip;
}
body {
    margin:0;
    padding:0;
    font-family: var(--font-body);
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--bg-main);
    color: var(--text-main);

}

body p{
    margin: 32px;
}

.navbar{
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 64px;
    background-color: rgb(0, 0, 0);
}

.navbar div{
    color:var(--bg-main);
    text-decoration: none;
    flex-shrink: 0;
    
}
.navbar nav a {
    margin-left: 20px;
    color: var(--bg-main);
    text-decoration: none;
    font-weight: 300;
}

.navbar nav a:hover{
    color: #00ffff
}

@media (max-width: 1100px) {
    .navbar nav{
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        flex-shrink: 0;
        -webkit-overflow-scrolling: touch;
        font-size: medium;
    }
    .navbar nav::-webkit-scrollbar {
        display: none;
    }

    .navbar nav {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
}